@model Crime.Models.Incident

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Victim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Victim.VictimId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suspect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suspect.SuspectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency.AgencyId)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.IncidentId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
