@model IEnumerable<WebApplication1.Models.Patient>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(e => item.Id)</td>
            <td>@Html.DisplayFor(e => item.Name)</td>
            <td>@Html.DisplayFor(e => item.Phone)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="bt btn-warning">Edit</a>
				<a asp-action="Delete" asp-route-id="@item.Id" class="bt btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>